router ospf {{ host.facts.ospf.process_id}}
 router-id {{ host.facts.ospf.rid}}
 {% for network in host.facts.ospf.networks %}
 network {{ network.ip }} {{ network.wildcard }} area {{ network.area }}
 {% endfor %}