<config>
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <router operation="merge">
        <router-ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
        <ospf>
            <process-id>
            <id>1</id>
            <network>
                <ip>123.123.123.123</ip>
                <wildcard>0.0.0.0</wildcard>
                <area>0</area>
            </network>
            </process-id>
        </ospf>
        </router-ospf>
    </router>
    </native>
</config>
